<mat-card>
    <div class="row">
        <div class="col-12 text-left">
            <h5 class="m-0">
                {{this.mensagensPTBRRelatorios.mensagens.label.tituloRelatorioFechamentoLivroCaixaSemanal}}</h5>
            <small>{{this.mensagensPTBRRelatorios.mensagens.label.tituloRelatorioFechamentoLivroCaixaSemanalDescricao.replace(this.utilConstants.REPLACE.DIAS,this.quantidadeDiasParaConsultarFechamentoLivroCaixa)}}</small>
        </div>
    </div>
    <form [formGroup]="filtroFechamentoLivroCaixaForm">
        <hr />
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
                <small class="mb-2">{{this.mensagensPTBRRelatorios.mensagens.label.escolhaTipoGrafico}}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button mat-button class="btn botao-primario botao-acao"
                    (click)="gerarGraficoFechamentoLivroCaixa(this.utilConstantesRelatorios.TIPO_GRAFICO.BARRAS);">Barras</button>
                <button mat-button class="btn botao-primario botao-acao"
                    (click)="gerarGraficoFechamentoLivroCaixa(this.utilConstantesRelatorios.TIPO_GRAFICO.DOUGHNUT);">Doughnut</button>
                <button mat-button class="btn botao-primario botao-acao"
                    (click)="gerarGraficoFechamentoLivroCaixa(this.utilConstantesRelatorios.TIPO_GRAFICO.LINE);">Linhas</button>
                <button mat-button class="btn botao-primario botao-acao"
                    (click)="gerarGraficoFechamentoLivroCaixa(this.utilConstantesRelatorios.TIPO_GRAFICO.PIZZA);">Pizza</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <small>{{this.mensagensPTBRRelatorios.mensagens.label.filtrarPorData}}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <mat-form-field appearance="{{this.mensagensPTBRCore.styleMat.inputAppearance}}">
                    <mat-label>{{this.mensagensPTBRCore.mensagens.input.dataInicio}}</mat-label>
                    <input formControlName="dataInicio" matInput [matDatepicker]="pickerInicial">
                    <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
                    <mat-datepicker #pickerInicial></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6 d-flex align-items-center">
                <mat-form-field appearance="{{this.mensagensPTBRCore.styleMat.inputAppearance}}">
                    <mat-label>{{this.mensagensPTBRCore.mensagens.input.dataFinal}}</mat-label>
                    <input formControlName="dataFinal" matInput [matDatepicker]="pickerFinal">
                    <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFinal></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <button class="btn botao-primario botao-acao" (click)="verificarQuantidadeDiasDiferencaDatas()"
                    style="margin-top: 1rem;">{{this.mensagensPTBRCore.mensagens.botoes.filtrar}}</button>
                <button class="btn botao-primario botao-acao" (click)="limparFiltroGraficoFechamentoLivroCaixa()"
                    style="margin-top: 1rem;">{{this.mensagensPTBRCore.mensagens.botoes.limparFiltro}}</button>
            </div>
        </div>
    </form>
    <div id="divChart">
        <canvas id="myChart"></canvas>
    </div>
</mat-card>